<mat-card class="trinta-card agents-list-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Auditorías Reprogramadas
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (dataSource.data.length > 0) {
        <div class="agents-list-table">
            <div class="table-responsive">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.date | date:'shortDate' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="auditor">
                        <mat-header-cell *matHeaderCellDef> Auditor </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.auditor }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="coordinator">
                        <mat-header-cell *matHeaderCellDef> Coordinador </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.coordinator }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="standard">
                        <mat-header-cell *matHeaderCellDef> Norma </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.applicable_standard }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="fw-medium text-uppercase"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        } @else {
            <div class="p-4 text-center text-muted">
                <i class="ri-information-line fs-4 d-block mb-2"></i>
                No hay auditorías reprogramadas registradas.
            </div>
        }
    </mat-card-content>
</mat-card>
