<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo_unsa.png" alt="logo-icon">
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
<!--                    <span class="sub-title text-body">-->
<!--                        MAIN-->
<!--                    </span>-->
<!--                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">-->
<!--                        <mat-expansion-panel-header>-->
<!--                            <mat-panel-title>-->
<!--                                <i-feather name="home"></i-feather>-->
<!--                                <span class="title">-->
<!--                                    Dashboard-->
<!--                                </span>-->
<!--                                <span class="trinta-badge">-->
<!--                                    5-->
<!--                                </span>-->
<!--                            </mat-panel-title>-->
<!--                        </mat-expansion-panel-header>-->
<!--                        <ul class="sidebar-sub-menu">-->

<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Help Desk <span class="trinta-badge">Hot</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </mat-expansion-panel>-->
                    <span class="sub-title text-body">
                        Pagina Principal
                    </span>

                    <a routerLink="/" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                           Dashboard
                        </span>
                    </a>


                    <span class="sub-title text-body">
                        Usuarios
                    </span>

                    <a routerLink="/users" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                           Lista Usuarios
                        </span>
                    </a>

                    <a routerLink="/users/add-user" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="users"></i-feather>
                        <span class="title">
                            Agregar Usuario
                        </span>
                    </a>

                    <span class="sub-title text-body">
                        Normas
                    </span>

                    <a routerLink="/norms" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                           Normas
                        </span>
                    </a>

                    <a routerLink="/norms/add-norm" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="plus-square"></i-feather>
                        <span class="title">
                            Agregar Norma
                        </span>
                    </a>

<!--                    <a routerLink="/norms/stepp-norm" class="sidebar-menu-link" routerLinkActive="active"-->
<!--                       [routerLinkActiveOptions]="{exact: true}">-->
<!--                        <i-feather name="plus-square"></i-feather>-->
<!--                        <span class="title">-->
<!--                            Agregar Norma-->
<!--                        </span>-->
<!--                    </a>-->

                    <span class="sub-title text-body">
                        Auditorias
                    </span>

                    <a routerLink="/audits" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                            Lista Auditoria
                        </span>
                    </a>

                    <a routerLink="/audits/audit-create" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="plus-square"></i-feather>
                        <span class="title">
                            Agregar Auditoria
                        </span>
                    </a>


                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
