<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo_unsa.png" alt="logo-icon">
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body">
                        Pagina Principal
                    </span>

                    <a routerLink="/" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                           Dashboard
                        </span>
                    </a>

                    @if (role === 1) {

                        <span class="sub-title text-body">
                        Usuarios
                    </span>

                        <a routerLink="/users" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="file-text"></i-feather>
                            <span class="title">
                           Lista Usuarios
                        </span>
                        </a>

                        <a routerLink="/users/add-user" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="users"></i-feather>
                            <span class="title">
                            Agregar Usuario
                        </span>
                        </a>

                        <span class="sub-title text-body">
                        Normas
                    </span>

                        <a routerLink="/norms" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="file-text"></i-feather>
                            <span class="title">
                           Normas
                        </span>
                        </a>

                        <a routerLink="/norms/add-norm" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="plus-square"></i-feather>
                            <span class="title">
                            Agregar Norma
                        </span>
                        </a>

                        <!--                    <a routerLink="/norms/stepp-norm" class="sidebar-menu-link" routerLinkActive="active"-->
                            <!--                       [routerLinkActiveOptions]="{exact: true}">-->
                            <!--                        <i-feather name="plus-square"></i-feather>-->
                            <!--                        <span class="title">-->
                            <!--                            Agregar Norma-->
                            <!--                        </span>-->
                            <!--                    </a>-->

                        <span class="sub-title text-body">
                        Auditorias
                    </span>

                        <a routerLink="/audits" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="file-text"></i-feather>
                            <span class="title">
                            Lista Auditoria
                        </span>
                        </a>

                        <a routerLink="/audits/audit-create" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="plus-square"></i-feather>
                            <span class="title">
                            Agregar Auditoria
                        </span>
                        </a>
                    }
                    @if (role === 2 || role === 3) {
                        <span class="sub-title text-body">
                           Auditoria
                        </span>

                        <a routerLink="/coordinador" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="file-text"></i-feather>
                            <span class="title">
                           Lista auditorias
                        </span>
                        </a>
                        <a routerLink="/coordinador/create" class="sidebar-menu-link" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="file-text"></i-feather>
                            <span class="title">
                           Solicitud auditoria
                        </span>
                        </a>
                    }

                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
