<mat-card class="trinta-card edit-norm-card">
    <form
        [formGroup]="normForm"
        (ngSubmit)="onSubmit()"
        class="d-block w-100"
    >
        <h2 class="h4 fw-bold mb-20 text-primary d-flex align-items-center gap-2">
            <mat-icon class="text-primary">assignment</mat-icon>
            Datos generales de la norma
        </h2>

        <div class="row mb-20">
            <mat-form-field appearance="outline" class="col-12 col-md-6 mb-15">
                <mat-label>Código</mat-label>
                <input matInput formControlName="code" [readonly]="true"/>
            </mat-form-field >

            <mat-form-field appearance="outline" class="col-12 col-md-6 mb-15">
                <mat-label>Título</mat-label>
                <input matInput formControlName="title" [readonly]="true"/>
            </mat-form-field >

            <mat-form-field appearance="outline" class="col-12 col-md-6 mb-15">
                <mat-label>Organización</mat-label>
                <input matInput formControlName="organization" [readonly]="true"/>
            </mat-form-field >

            <mat-form-field appearance="outline" class="col-12 col-md-6 mb-15">
                <mat-label>Año versión</mat-label>
                <input matInput type="number" formControlName="version_year" [readonly]="true"/>
            </mat-form-field >
        </div>

        <div
            class="d-flex justify-content-between align-items-center mb-15 position-sticky top-0 bg-gray pt-10 pb-10 z-1"
        >
            <h2 class="h5 fw-semibold m-0 d-flex align-items-center gap-2">
                <mat-icon>list</mat-icon>
                Ítems de la Norma
            </h2>

            <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="addItem()"
                class="d-inline-flex align-items-center gap-1"
            >
                <mat-icon>add</mat-icon>
                Agregar Ítem
            </button>
        </div>

        <div formArrayName="items">
            <mat-accordion multi>
                @for (itemCtrl of items.controls; let i = $index; track i) {
                    <mat-expansion-panel
                        [formGroupName]="i"
                        class="border border-radius transition mb-15" [ngClass]="{'box-shadow': itemCtrl.dirty}"
                    >
                        <mat-expansion-panel-header
                            class="d-flex align-items-center justify-content-between p-4">
                            <div class="d-flex flex-column flex-grow-1 p-15">
                                <mat-panel-title class="fw-semibold">
                                    Ítem: {{ itemCtrl.get('id')?.value ? itemCtrl.get('id')?.value : '(nuevo)' }}
                                </mat-panel-title>
                                <mat-panel-description class="text-gray small">
                                    Nombre: {{ itemCtrl.get('name')?.value ? itemCtrl.get('name')?.value : '(sin nombre)' }}
                                </mat-panel-description>
                            </div>
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="removeItem(i); $event.stopPropagation()"
                                class="mr-15" aria-label="Eliminar ítem"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-expansion-panel-header>

                        <div class="row p-15 pt-0 gap-15">
                            <mat-form-field class="col-12" appearance="outline">
                                <mat-label>Nombre del ítem</mat-label>
                                <textarea matInput formControlName="name" rows="2"></textarea>
                            </mat-form-field>

                            <div formArrayName="subitems" class="col-12">
                                <div
                                    class="d-flex justify-content-between align-items-center mb-10 mt-15">
                                    <h3 class="h6 m-0 fw-semibold text-dark">Subítems</h3>
                                    <button
                                        mat-stroked-button
                                        color="primary"
                                        type="button"
                                        (click)="addSubitem(i)"
                                        class="d-inline-flex align-items-center gap-1"
                                    >
                                        <mat-icon>add</mat-icon>
                                        Agregar Subítem
                                    </button>
                                </div>

                                @for (subCtrl of subitemsArray(i).controls;
                                    let j = $index;
                                    track j) {
                                    <mat-card
                                        [formGroupName]="j"
                                        class="p-15 mb-10  d-flex flex-column"
                                        [ngClass]="{'box-shadow': subCtrl.dirty}"
                                    >
                                        <div class="d-flex align-items-center justify-content-between w-100 mb-10"><h4
                                            class="h6 m-0 fw-medium">Subítem {{ j + 1 }}</h4>
                                            <button
                                                mat-icon-button
                                                color="warn"
                                                (click)="removeSubitem(i, j); $event.stopPropagation()"
                                                aria-label="Eliminar subítem"
                                            >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                        <mat-form-field class="w-100" appearance="outline">
                                            <mat-label>Nombre del subítem</mat-label>
                                            <textarea matInput formControlName="name" rows="3"></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Interpretación</mat-label>
                                            <textarea matInput formControlName="interpretation" rows="3"></textarea>
                                            @if (subCtrl.get('interpretation')?.invalid && (subCtrl.get('interpretation')?.dirty || subCtrl.get('interpretation')?.touched)) {
                                                <mat-error>
                                                    Interpretación requerida
                                                </mat-error>
                                            }
                                        </mat-form-field>
                                    </mat-card>
                                } @empty {
                                    <p class="text-center text-gray pt-10 pb-10">No hay subítems agregados. Haz clic en
                                        "Agregar Subítem" para añadir uno.</p>
                                }
                            </div>
                        </div>
                    </mat-expansion-panel>
                } @empty {
                    <p class="text-center text-gray pt-20 pb-20 border border-radius">
                        No hay ítems agregados. Haz clic en "Agregar Ítem" para comenzar.
                    </p>
                }
            </mat-accordion>
        </div>

        <div class="d-flex justify-content-end mt-20">
            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="normForm.invalid || !normForm.dirty"
                class="d-inline-flex align-items-center gap-1"
            >
                <mat-icon>save</mat-icon>
                Guardar Norma
            </button>
        </div>
    </form>
</mat-card>
