<!-- Stats -->
<mat-card class="trinta-card">

    <div class="row align-items-center p-0 mt-20">
        <!-- Columna Izquierda: Logo + Título -->
        <div class="col-md-6 text-center">
            <img src="/images/logo_unsa.png" alt="Logo UNSA" class="mb-10">
            <h1 class="h2 text-dark fw-bold">Dirección de Instituto de Investigación</h1>
        </div>

        <!-- Columna Derecha: Subtítulo + Texto -->
        <div class="col-md-6 text-start">
            <h2 class="h4 text-primary fw-semibold mb-15">
                Proyecto de Acreditación y Certificación de Laboratorios e Institutos
            </h2>

            <p class="text-gray mb-10">
                Bienvenido al sistema de acreditación y certificación de laboratorios e institutos de investigación.
                Este sistema está diseñado para garantizar la calidad y el cumplimiento de normas internacionales
                en auditorías y procesos relacionados.
            </p>

            <p class="text-gray">
                Explore el sistema para asignar auditorías, gestionar documentación y certificar el cumplimiento
                normativo de su institución.
            </p>
        </div>
    </div>
</mat-card>

@if (role === 1) {
    <app-stats [stats]="stats"/>

    <div class="row">
        <div class="col-xxxl-6 col-md-12">
            <app-agents-list [audits]="reprogrammedAudits"/>
        </div>
        <div class="col-xxxl-6 col-md-12">
            <!-- Customer Satisfaction -->
            <app-customer-satisfaction [data]="donutData"/>
        </div>
    </div>
}

